$purple-light: #b665d2;
$purple-dark: #5937b9;

h1, h2 {
  font-size: 1.5rem;
  line-height: 1rem;
  margin: 1rem 0 2rem;
  font-weight: 600;
}

// // .full-screen-background-image {
// //   height: calc(100% + 130px);
// //   width: 100%;
// //   top: -130px;
// //   position: absolute;
// //   background-size: cover;

// //   &:before {
// //     content: "";
// //     position: absolute;
// //     top: 0;
// //     right: 0;
// //     bottom: 0;
// //     left: 0;
// //     opacity: 0.6;
// //     background-image: linear-gradient(to bottom right, rgba(0, 23, 63, 0.7), rgba(0, 0, 0, 0.7));
// //   }
// // }

section.contact {
  padding: 100px 15px 15px;
  font-size: 0;
  margin-top: -107px;

  .panel {
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 30px;
    font-size: initial;

    &.left-side {
      margin-top: 20px;

      h1, h2 {
        color: $purple-dark;
      }
    }

    &.right-side {
      background: $purple-dark;
      color: #fff;


      h2 {
        color: #fff;
      }

      ul.contact {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          position: relative;
          padding-left: 30px;
          margin-bottom: 25px;
          a {
            color: #fff;
          }
          

          i {
            position: absolute;
            top: 5px;
            left: 0;
            color: #fff;
          }
        }
      }

      ul.social {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          transition: 0.5s;
          margin-right: 15px;

          a {
            display: inline-block;
            height: 30px;
            width: 30px;
            line-height: 30px;
            color: #fff;
            border-radius: 50%;

            &:hover {
              background-color: rgba(0,0,0,.2);
            }
          }
        }
      }
    }
  }

  @media (--medium-query) {
    padding: 160px 0 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    
    .container {
      display: flex;
    }

    .panel {
      display: inline-block;
      flex: unset;

      &.left-side {
        width: 60%;
        
        margin: 0;
      }

      &.right-side {
        width: 40%;
        vertical-align: top;
      }
    }
  }

  @media (--large-query) {
    // width: 970px;

    .panel {
      &.left-side {
        width: 65%;
        margin: 0;
      }

      &.right-side {
        width: 35%;
      }
    }
  }
}
